body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url(https://cdn.pixabay.com/photo/2020/11/25/22/23/naruto-5777376_1280.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
}